<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636423453753-lo4f3kj53ousgbf3ki696i58hnfn227o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636423453753-lo4f3kj53ousgbf3ki696i58hnfn227o</string>
	<key>API_KEY</key>
	<string>AIzaSyB9Frwd6LCsiqTyHbMrCvTyMByDigXeK5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>636423453753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shubhamrawal.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-42769</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-42769.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636423453753:ios:12a3bb6c8d319f7857e1e8</string>
</dict>
</plist>